___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

Welcome to "RFM Customer Segmentation & Cohort Analysis Project". This is the first project of the Capstone Project Series, which consists of 4 different project that contain different scenarios.

This is a project which you will learn what is RFM? And how to apply RFM Analysis and Customer Segmentation using K-Means Clustering. Also you will improve your Data Cleaning, Data Visualization and Exploratory Data Analysis capabilities. On the other hand you will create Cohort and Conduct Cohort Analysis. 

Before diving into the project, please take a look at the determines and project structure.

- **NOTE:** This tutorial assumes that you already know the basics of coding in Python and are familiar with the theory behind K-Means Clustering.

# #Determines

Using the [Online Retail dataset](https://archive.ics.uci.edu/ml/datasets/Online+Retail) from the UCI Machine Learning Repository for exploratory data analysis, ***Customer Segmentation***, ***RFM Analysis***, ***K-Means Clustering*** and ***Cohort Analysis***.

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

Feature Information:

**InvoiceNo**: Invoice number. *Nominal*, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. 
<br>
**StockCode**: Product (item) code. *Nominal*, a 5-digit integral number uniquely assigned to each distinct product.
<br>
**Description**: Product (item) name. *Nominal*. 
<br>
**Quantity**: The quantities of each product (item) per transaction. *Numeric*.
<br>
**InvoiceDate**: Invoice Date and time. *Numeric*, the day and time when each transaction was generated.
<br>
**UnitPrice**: Unit price. *Numeric*, Product price per unit in sterling.
<br>
**CustomerID**: Customer number. *Nominal*, a 5-digit integral number uniquely assigned to each customer.
<br>
**Country**: Country name. *Nominal*, the name of the country where each customer resides.


---


First of all, to observe the structure of the data and missing values, you can use exploratory data analysis and data visualization techniques.

You must do descriptive analysis. Because you must understand the relationship of the features to each other and clear the noise and missing values in the data. After that, the data set will be ready for RFM analysis.

Before starting the RFM Analysis, you will be asked to do some analysis regarding the distribution of *Orders*, *Customers* and *Countries*. These analyzes will help the company develop its sales policies and contribute to the correct use of resources.

You will notice that the UK not only has the most sales revenue, but also the most customers. So you will continue to analyze only UK transactions in the next RFM Analysis, Customer Segmentation and K-Means Clustering topics.

Next, you will begin RFM Analysis, a customer segmentation technique based on customers' past purchasing behavior. 

By using RFM Analysis, you can enable companies to develop different approaches to different customer segments so that they can get to know their customers better, observe trends better, and increase customer retention and sales revenues.

You will calculate the Recency, Frequency and Monetary values of the customers in the RFM Analysis you will make using the data consisting of UK transactions. Ultimately, you have to create an RFM table containing these values.

In the Customer Segmentation section, you will create an RFM Segmentation Table where you segment your customers by using the RFM table. For example, you can label the best customer as "Big Spenders" and the lost customer as "Lost Customer".

We will segment the customers ourselves based on their recency, frequency, and monetary values. But can an **unsupervised learning** model do this better for us? You will use the K-Means algorithm to find the answer to this question. Then you will compare the classification made by the algorithm with the classification you have made yourself.

Before applying K-Means Clustering, you should do data pre-processing. In this context, it will be useful to examine feature correlations and distributions. In addition, the data you apply for K-Means should be normalized.

On the other hand, you should inform the K-means algorithm about the number of clusters it will predict. You will also try the *** Elbow method *** and *** Silhouette Analysis *** to find the optimum number of clusters.

After the above operations, you will have made cluster estimation with K-Means. You should visualize the cluster distribution by using a scatter plot. You can observe the properties of the resulting clusters with the help of the boxplot. Thus you will be able to tag clusters and interpret results.

Finally, you will do Cohort Analysis with the data you used at the beginning, regardless of the analysis you have done before. Cohort analysis is a subset of behavioral analytics that takes the user data and breaks them into related groups for analysis. This analysis can further be used to do customer segmentation and track metrics like retention, churn, and lifetime value.

# #Project Structures

- Data Cleaning & Exploratory Data Analysis
- RFM Analysis
- Customer Segmentation
- Applying K-Means Clustering
- Create Cohort and Conduct Cohort Analysis

# #Tasks

#### 1. Data Cleaning & Exploratory Data Analysis

- Import Modules, Load Data & Data Review
- Follow the Steps Below

    *i. Take a look at relationships between InvoiceNo, Quantity and UnitPrice columns.*
    
    *ii. What does the letter "C" in the invoiceno column mean?*
    
    *iii. Handling Missing Values*
    
    *iv. Clean the Data from the Noise and Missing Values*
    
    *v. Explore the Orders*
    
    *vi. Explore Customers by Country*
    
    *vii. Explore the UK Market*
    
#### 2. RFM Analysis

- Follow the steps below

   *i. Import Libraries*
   
   *ii. Review "df_uk" DataFrame (the df_uk what you create at the end of the Task 1)*
   
   *iii. Calculate Recency*
   
   *iv. Calculate Frequency*
   
   *v. Calculate Monetary Values*
   
   *vi. Create RFM Table*

#### 3. Customer Segmentation with RFM Scores
- Calculate RFM Scoring

    *i. Creating the RFM Segmentation Table*
 
- Plot RFM Segments

#### 4. Applying K-Means Clustering
- Data Pre-Processing and Exploring

    *i. Define and Plot Feature Correlations*
 
    *ii. Visualize Feature Distributions*
 
    *iii. Data Normalization*

- K-Means Implementation

    *i. Define Optimal Cluster Number (K) by using "Elbow Method" and "Silhouette Analysis"*
 
    *ii. Visualize the Clusters*
 
    *iii. Assign the label*
 
    *iv. Conclusion*
 
#### 5. Create Cohort and Conduct Cohort Analysis
- Feature Engineering

    *i. Extract the Month of the Purchase*
 
    *ii. Calculating time offset in Months i.e. Cohort Index*
 
- Create 1st Cohort: User Number & Retention Rate 

    *i. Pivot Cohort and Cohort Retention*
 
    *ii. Visualize analysis of cohort 1 using seaborn and matplotlib*

- Create 2nd Cohort: Average Quantity Sold 

    *i. Pivot Cohort and Cohort Retention*
 
    *ii. Visualize analysis of cohort 2 using seaborn and matplotlib*

- Create 3rd Cohort: Average Sales

    *i. Pivot Cohort and Cohort Retention*
 
    *ii. Visualize analysis of cohort 3 using seaborn and matplotlib*
    
- **Note: There may be sub-tasks associated with each task, you will see them in order during the course of the work.**

# 1. Data Cleaning & Exploratory Data Analysis

## Import Modules, Load Data & Data Review

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [4]:
# It takes more time to read excel file, so convert it to csv file
#df = pd.read_excel("Online Retail.xlsx")
#df.to_csv('Online_Retail.csv')

In [5]:
df=pd.read_csv('Online_Retail.csv',index_col=0)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
def explain(attribute):
    features= {'InvoiceNo': "Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.",
    'StockCode': 'Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.',
    'Description': 'Product (item) name. Nominal.',
    'Quantity': 'The quantities of each product (item) per transaction. Numeric.',
    'InvoiceDate': 'Invice Date and time. Numeric, the day and time when each transaction was generated.',
    'UnitPrice': 'Unit price. Numeric, Product price per unit in sterling.',
    'CustomerID': 'Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.',
    'Country': 'Country name. Nominal, the name of the country where each customer resides.'}
    return features[attribute]

### Descriptive Analysis

In [9]:
df.shape

(541909, 8)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 37.2+ MB

In [11]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [8]:
# Checking for the duplicates
df.duplicated().value_counts()

False    536641
True       5268
dtype: int64

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
# Shape after dropping duplicates
df.shape

(536641, 8)

In [14]:
# Checking for missing values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135037
Country             0
dtype: int64

In [15]:
# Alternative
def summary(df, pred=None):
    obs = df.shape[0]
    Types = df.dtypes
    Counts = df.apply(lambda x: x.count())
    Min = df.min()
    Max = df.max()
    Uniques = df.apply(lambda x: x.unique().shape[0])
    Nulls = df.apply(lambda x: x.isnull().sum())
    print('Data shape:', df.shape)

    if pred is None:
        cols = ['Types', 'Counts', 'Uniques', 'Nulls', 'Min', 'Max']
        str = pd.concat([Types, Counts, Uniques, Nulls, Min, Max], axis = 1, sort=True)

    str.columns = cols
    print('___________________________\nData Types:')
    print(str.Types.value_counts())
    print('___________________________')
    return str

details = summary(df)
display(details.sort_values(by='Nulls', ascending=False))

Data shape: (536641, 8)
___________________________
Data Types:
object     5
float64    2
int64      1
Name: Types, dtype: int64
___________________________

,Types,Counts,Uniques,Nulls,Min,Max
CustomerID,float64,401604,4373,135037,12346,18287
Description,object,535187,4224,1454,NaN,NaN
Country,object,536641,38,0,Australia,Unspecified
InvoiceDate,object,536641,23260,0,2010-12-01 08:26:00,2011-12-09 12:50:00
InvoiceNo,object,536641,25900,0,536365,C581569
Quantity,int64,536641,722,0,-80995,80995
StockCode,object,536641,4070,0,10002,m
UnitPrice,float64,536641,1630,0,-11062.1,38970

**Evaluations:**
* `The CustomerID` and `Description` fields have null values.
* `Quantity` and `UnitPrice` should have a value >= 0, but from the summary above there are negative values for the two columns.

### i. Take a look at relationships between InvoiceNo, Quantity and UnitPrice columns.

In [17]:
# counts of the negative values in the Quantity
df[df['Quantity'] <0].shape[0]

10587

In [18]:
# counts of the negative values in the UnitPrice
df[df['UnitPrice'] < 0].shape[0]

2

In [19]:
df[df['UnitPrice'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

In [52]:
df[df['Quantity'] <0].sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancellation
383071,C569995,23120,PACK OF 6 SMALL FRUIT STRAWS,-48,2011-10-06 20:36:00,0.42,14557.0,United Kingdom,1
504695,C578991,22996,TRAVEL CARD WALLET VINTAGE TICKET,-1,2011-11-27 15:31:00,0.42,15555.0,United Kingdom,1
47169,C540393,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,-1,2011-01-06 18:08:00,3.25,17428.0,United Kingdom,1
193449,C553531,S,SAMPLES,-1,2011-05-17 15:09:00,2.98,NaN,United Kingdom,1
347970,C567359,23265,SET OF 3 WOODEN TREE DECORATIONS,-1,2011-09-19 16:33:00,1.25,15201.0,United Kingdom,1
70465,C542060,20726,LUNCH BAG WOODLAND,-2,2011-01-25 12:01:00,1.65,14680.0,United Kingdom,1
139769,C548352,22179,SET 10 LIGHTS NIGHT OWL,-1,2011-03-30 14:57:00,6.75,12921.0,United Kingdom,1
439925,C574486,23118,PARISIENNE JEWELLERY DRAWER,-2,2011-11-04 12:56:00,7.50,15329.0,United Kingdom,1
75222,542546,20734,NaN,-1,2011-01-28 14:44:00,0.00,NaN,United Kingdom,0
166626,550945,79329,NaN,-2,2011-04-21 15:52:00,0.00,NaN,United Kingdom,0

Negative quantity means canceled transactions or items as it's invoceno starts with "C"

Checking a few rows with C invoiceno

Let's see Invoice number C575150

In [28]:
df[df['InvoiceNo']=='C575150']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
449987,C575150,23368,SET 12 COLOUR PENCILS DOLLY GIRL,-3,2011-11-08 16:05:00,0.65,12471.0,Germany
449988,C575150,23347,I LOVE LONDON BEAKER,-12,2011-11-08 16:05:00,1.25,12471.0,Germany
449989,C575150,23291,DOLLY GIRL CHILDRENS CUP,-1,2011-11-08 16:05:00,1.25,12471.0,Germany
449990,C575150,23289,DOLLY GIRL CHILDRENS BOWL,-1,2011-11-08 16:05:00,1.25,12471.0,Germany
449991,C575150,23245,SET OF 3 REGENCY CAKE TINS,-6,2011-11-08 16:05:00,4.15,12471.0,Germany
449992,C575150,23240,SET OF 4 KNICK KNACK TINS DOILY,-3,2011-11-08 16:05:00,4.15,12471.0,Germany
449993,C575150,23198,PANTRY MAGNETIC SHOPPING LIST,-9,2011-11-08 16:05:00,1.45,12471.0,Germany

Check if there's an invoce without "C" letter

In [29]:
df[df['InvoiceNo']=='575150']

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

That means there's only one invoice for canceled transactions and it's the one with "C"

Focuc on customer 12471.0

Specific items he ordered, then canceled

In [32]:
df[(df['CustomerID']==12471.0) & (df['StockCode']==23368)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [34]:
df[(df['CustomerID']==12471.0) & (df['StockCode']==23347)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

Double check. There's only one invoice for canceled transactions

In [26]:
df[df['InvoiceNo']=='C581323']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
537601,C581323,21533,RETROSPOT LARGE MILK JUG,-1,2011-12-08 11:53:00,4.25,14442.0,Channel Islands

In [27]:
df[df['InvoiceNo']=='581323']

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

We see that there are negative values in the Quantity and UnitPrice columns. These are possibly canceled and returned orders. Let's check it out.

### ii. What does the letter "C" in the InvoiceNo column mean?

In [35]:
explain('InvoiceNo')

"Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation."

If the invoice number starts with the letter "C", it means the order was cancelled. Or those who abandon their order.

In [36]:
df['cancellation']=df.InvoiceNo.str.extract('([C])').fillna(0).replace({'C':1})
df['cancellation'].value_counts()

0    527390
1      9251
Name: cancellation, dtype: int64

In [37]:
df[df.CustomerID==14397].tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancellation
506163,579128,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-11-28 12:30:00,1.25,14397.0,United Kingdom,0
522268,580394,23145,ZINC T-LIGHT HOLDER STAR LARGE,36,2011-12-04 10:53:00,0.95,14397.0,United Kingdom,0
522269,580394,22178,VICTORIAN GLASS HANGING T-LIGHT,48,2011-12-04 10:53:00,1.95,14397.0,United Kingdom,0
522270,580394,84946,ANTIQUE SILVER T-LIGHT GLASS,24,2011-12-04 10:53:00,1.25,14397.0,United Kingdom,0
522271,580394,23144,ZINC T-LIGHT HOLDER STARS SMALL,12,2011-12-04 10:53:00,0.83,14397.0,United Kingdom,0
522272,580394,22478,BIRDHOUSE GARDEN MARKER,20,2011-12-04 10:53:00,1.25,14397.0,United Kingdom,0
522273,580394,22596,CHRISTMAS STAR WISH LIST CHALKBOARD,12,2011-12-04 10:53:00,1.25,14397.0,United Kingdom,0
533098,581011,22178,VICTORIAN GLASS HANGING T-LIGHT,48,2011-12-07 09:22:00,1.95,14397.0,United Kingdom,0
533099,581011,23144,ZINC T-LIGHT HOLDER STARS SMALL,48,2011-12-07 09:22:00,0.83,14397.0,United Kingdom,0
533100,581011,23145,ZINC T-LIGHT HOLDER STAR LARGE,24,2011-12-07 09:22:00,0.95,14397.0,United Kingdom,0
533101,581011,22478,BIRDHOUSE GARDEN MARKER,20,2011-12-07 09:22:00,1.25,14397.0,United Kingdom,0
533102,581011,20846,ZINC HEART LATTICE T-LIGHT HOLDER,24,2011-12-07 09:22:00,1.25,14397.0,United Kingdom,0
533103,581011,22600,CHRISTMAS RETROSPOT STAR WOOD,12,2011-12-07 09:22:00,0.85,14397.0,United Kingdom,0
540448,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,2011-12-09 09:57:00,1.95,14397.0,United Kingdom,1
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom,1

In [38]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'cancellation'],
      dtype='object')

In [39]:
df[['StockCode', 'Description','UnitPrice', 'CustomerID', 'Country' ]]

,StockCode,Description,UnitPrice,CustomerID,Country
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2.55,17850.0,United Kingdom
1,71053,WHITE METAL LANTERN,3.39,17850.0,United Kingdom
2,84406B,CREAM CUPID HEARTS COAT HANGER,2.75,17850.0,United Kingdom
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,3.39,17850.0,United Kingdom
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,3.39,17850.0,United Kingdom
...,...,...,...,...,...
541904,22613,PACK OF 20 SPACEBOY NAPKINS,0.85,12680.0,France
541905,22899,CHILDREN'S APRON DOLLY GIRL,2.10,12680.0,France
541906,23254,CHILDRENS CUTLERY DOLLY GIRL,4.15,12680.0,France
541907,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.15,12680.0,France
541908,22138,BAKING SET 9 PIECE RETROSPOT,4.95,12680.0,France

When we filter canceled orders by Quantity> 0 or filter non-canceled orders by Quantity <0 nothing returns, this confirms that negative values mean the order was canceled. So lets find out how many orders were cancelled?

In [40]:
df[(df.cancellation==1) & (df.Quantity>0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, cancellation]
Index: []

In [43]:
df[df.Quantity>0].shape

(526054, 9)

In [44]:
df[df.Quantity<0].shape

(10587, 9)

In [46]:
df[(df.cancellation==1)].shape

(9251, 9)

In [51]:
df[df['InvoiceNo']=='554318']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancellation
201754,554318,84535A,NaN,-65,2011-05-23 15:30:00,0.0,NaN,United Kingdom,0

In [53]:
df[df['InvoiceNo']=='554318']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancellation
201754,554318,84535A,NaN,-65,2011-05-23 15:30:00,0.0,NaN,United Kingdom,0

In [59]:
print('There {} orders that are cancelled but Invoiceno does not start with C '.format((df[df.Quantity<0].shape[0])-(df[(df.cancellation==1)].shape[0])))

There 1336 orders that are cancelled but Invoiceno does not start with C

#### 9288 or about 36% of the orders were cancelled. Looking deeper into why these orders were cancelled may prevent future cancellations. Now let's find out what a negative UnitPrice means.

Total order number

In [81]:
df['InvoiceNo'].nunique()

int

In [67]:
df[df['InvoiceNo'].str.startswith('C')].shape

(9251, 9)

Orders completed

In [71]:
df[~df['InvoiceNo'].str.startswith('C')]['InvoiceNo'].nunique()

22064

Orders canceled

In [70]:
df[df['InvoiceNo'].str.startswith('C')]['InvoiceNo'].nunique()

3836

In [96]:
print('Out of {} orders, {:.2f} percent of them ({}) were cancelled.'.format(df['InvoiceNo'].nunique(), df[df['InvoiceNo'].str.startswith('C')]['InvoiceNo'].nunique()/df['InvoiceNo'].nunique()*100, df[df['InvoiceNo'].str.startswith('C')]['InvoiceNo'].nunique()))

Out of 25900 orders, 14.81 percent of them (3836) were cancelled.

### iii. Handling Missing Values

Since the customer ID's are missing, lets assume these orders were not made by the customers already in the data set because those customers already have ID's. 

We also don't want to assign these orders to those customers because this would alter the insights we draw from the data.

In [97]:
df.isnull().sum()

InvoiceNo            0
StockCode            0
Description       1454
Quantity             0
InvoiceDate          0
UnitPrice            0
CustomerID      135037
Country              0
cancellation         0
dtype: int64

In [102]:
df.shape

(536641, 9)

### iv. Clean the Data from the Noise and Missing Values

Dropping rows that contains null CustomerID

In [103]:
df.dropna(subset=['CustomerID'], inplace=True)

In [108]:
print('Shape after dropping null CustomerID: {}'.format(df.shape))

Shape after dropping null CustomerID: (392732, 9)

Dropping Cancelled orders

In [106]:
df=df[df.Quantity>0]

In [109]:
print('Shape after dropping Cancelled Orders: {}'.format(df.shape))

Shape after dropping Cancelled Orders: (392732, 9)

Check if there's left any value with negative UnitPrice

In [112]:
df[df.UnitPrice < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, cancellation]
Index: []

In [113]:
details = summary(df)
display(details.sort_values(by='Uniques', ascending=False))

Data shape: (392732, 9)
___________________________
Data Types:
object     5
float64    2
int64      2
Name: Types, dtype: int64
___________________________

,Types,Counts,Uniques,Nulls,Min,Max
InvoiceNo,object,392732,18536,0,536365,581587
InvoiceDate,object,392732,17286,0,2010-12-01 08:26:00,2011-12-09 12:50:00
CustomerID,float64,392732,4339,0,12346,18287
Description,object,392732,3877,0,4 PURPLE FLOCK DINNER CANDLES,ZINC WIRE SWEETHEART LETTER TRAY
StockCode,object,392732,3665,0,10002,POST
UnitPrice,float64,392732,441,0,0,8142.75
Quantity,int64,392732,302,0,1,80995
Country,object,392732,37,0,Australia,Unspecified
cancellation,int64,392732,1,0,0,0

No need for cancellation column anymore

In [116]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### v. Explore the Orders

1. Find the unique number of InvoiceNo  per customer

In [118]:
df.groupby('CustomerID')['InvoiceNo'].nunique().sort_values(ascending=False)

CustomerID
12748.0    210
14911.0    201
17841.0    124
13089.0     97
14606.0     93
          ...
13845.0      1
17253.0      1
16302.0      1
15127.0      1
12346.0      1
Name: InvoiceNo, Length: 4339, dtype: int64

In [117]:
df.groupby('CustomerID')['InvoiceNo'].value_counts()

CustomerID  InvoiceNo
12346.0     541431        1
12347.0     573511       47
            537626       31
            542237       29
            549222       24
                         ..
18283.0     560032        1
            575675        1
18287.0     570715       38
            554065       29
            573167        3
Name: InvoiceNo, Length: 18536, dtype: int64

2. What's the average number of unqiue items per order or per customer?

In [127]:
df.groupby('InvoiceNo')['StockCode'].nunique()

InvoiceNo
536365     7
536366     2
536367    12
536368     4
536369     1
          ..
581583     2
581584     2
581585    21
581586     4
581587    15
Name: StockCode, Length: 18536, dtype: int64

In [131]:
df[df['InvoiceNo']=='536369']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom

In [132]:
df[df['CustomerID']==13047.0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
...,...,...,...,...,...,...,...,...
397488,571185,23109,PACK OF SIX LED TEA LIGHTS,12,2011-10-14 11:15:00,2.89,13047.0,United Kingdom
397489,571185,23434,3 RAFFIA RIBBONS 50'S CHRISTMAS,10,2011-10-14 11:15:00,0.79,13047.0,United Kingdom
397490,571185,22086,PAPER CHAIN KIT 50'S CHRISTMAS,12,2011-10-14 11:15:00,2.95,13047.0,United Kingdom
397491,571185,85049E,SCANDINAVIAN REDS RIBBONS,12,2011-10-14 11:15:00,1.25,13047.0,United Kingdom
448287,575043,M,Manual,1,2011-11-08 12:06:00,4.95,13047.0,United Kingdom

In [136]:
df['CustomerID'].value_counts()

17841.0    7676
14911.0    5672
14096.0    5111
12748.0    4413
14606.0    2677
           ...
18233.0       1
18184.0       1
17846.0       1
14090.0       1
16093.0       1
Name: CustomerID, Length: 4339, dtype: int64

3. Let's see how this compares to the number of unique products per customer.

### vi. Explore Customers by Country

1. What's the total revenue per country?

2. Visualize number of customer per country

3. Visualize total cost per country

#### The UK not only has the most sales revenue, but also the most customers. Since the majority of this data set contains orders from the UK, we can explore the UK market further by finding out what products the customers buy together and any other buying behaviors to improve our sales and targeting strategy.

### vii. Explore the UK Market

1. Create df_uk DataFrame

2. What are the most popular products that are bought in the UK?

### We will continue analyzing the UK transactions with customer segmentation.

# 2. RFM Analysis

In the age of the internet and e-commerce, companies that do not expand their businesses online or utilize digital tools to reach their customers will run into issues like scalability and a lack of digital precsence. An important marketing strategy e-commerce businesses use for analyzing and predicting customer value is customer segmentation. Customer data is used to sort customers into group based on their behaviors and preferences.

**[RFM](https://www.putler.com/rfm-analysis/) (Recency, Frequency, Monetary) Analysis** is a customer segmentation technique for analyzing customer value based on past buying behavior. RFM analysis was first used by the direct mail industry more than four decades ago, yet it is still an effective way to optimize your marketing.
<br>
<br>
Our goal in this Notebook is to cluster the customers in our data set to:
 - Recognize who are our most valuable customers
 - Increase revenue
 - Increase customer retention
 - Learn more about the trends and behaviors of our customers
 - Define customers that are at risk

We will start with **RFM Analysis** and then compliment our findings with predictive analysis using **K-Means Clustering Algorithms.**

- RECENCY (R): Time since last purchase
- FREQUENCY (F): Total number of purchases
- MONETARY VALUE (M): Total monetary value




Benefits of RFM Analysis

- Increased customer retention
- Increased response rate
- Increased conversion rate
- Increased revenue

RFM Analysis answers the following questions:
 - Who are our best customers?
 - Who has the potential to be converted into more profitable customers?
 - Which customers do we need to retain?
 - Which group of customers is most likely to respond to our marketing campaign?

### i. Import Libraries

### ii. Review df_uk DataFrame

### iii. Recency: Days since last purchase
To calculate the recency values, follow these steps in order:

1. To calculate recency, we need to choose a date as a point of reference to evaluate how many days ago was the customer's last purchase.
2. Create a new column called Date which contains the invoice date without the timestamp
3. Group by CustomerID and check the last date of purchase
4. Calculate the days since last purchase
5. Drop Last_Purchase_Date since we don't need it anymore
6. Plot RFM distributions

1. Choose a date as a point of reference to evaluate how many days ago was the customer's last purchase.

2. Create a new column called Date which contains the invoice date without the timestamp

3. Group by CustomerID and check the last date of purchase

4. Calculate the days since last purchase

5. Drop Last_Purchase_Date since we don't need it anymore

6. Plot RFM distributions

### iv. Frequency: Number of purchases

To calculate how many times a customer purchased something, we need to count how many invoices each customer has. To calculate the frequency values, follow these steps in order:

1. Make a copy of df_uk and drop duplicates

2. Calculate the frequency of purchases

3. Plot RFM distributions

### v. Monetary: Total amount of money spent

The monetary value is calculated by adding together the cost of the customers' purchases.

1. Calculate sum total cost by customers and named "Monetary"

2. Plot RFM distributions

### vi. Create RFM Table
Merge the recency, frequency and motetary dataframes

# 3. Customer Segmentation with RFM Scores

Businesses have this ever-lasting urge to understand their customers. The better you understand the customer, the better you serve them, and the higher the financial gain you receive from that customer. Since the dawn of trade, this process of understanding customers for a strategic gain has been there practiced and this task is known majorly as [Customer Segmentation](https://clevertap.com/blog/rfm-analysis/).
Well as the name suggests, Customer Segmentation could segment customers according to their precise needs. Some of the common ways of segmenting customers are based on their Recency-Frequency-Monatory values, their demographics like gender, region, country, etc, and some of their business-crafted scores. You will use Recency-Frequency-Monatory values for this case.

In this section, you will create an RFM Segmentation Table where you segment your customers by using the RFM table. For example, you can label the best customer as "Big Spenders" and the lost customer as "Lost Customer".

## Calculate RFM Scoring

The simplest way to create customer segments from an RFM model is by using **Quartiles**. We will assign a score from 1 to 4 to each category (Recency, Frequency, and Monetary) with 4 being the highest/best value. The final RFM score is calculated by combining all RFM values. For Customer Segmentation, you will use the df_rfm data set resulting from the RFM analysis.
<br>
<br>
**Note**: Data can be assigned into more groups for better granularity, but we will use 4 in this case.

1. Divide the df_rfm into quarters

### i. Creating the RFM Segmentation Table

1. Create two functions, one for Recency and one for Frequency and Monetary. For Recency, customers in the first quarter should be scored as 4, this represents the highest Recency value. Conversely, for Frequency and Monetary, customers in the last quarter should be scored as 4, representing the highest Frequency and Monetary values.

2. Score customers from 1 to 4 by applying the functions you have created. Also create separate score column for each value.

3. Now that scored each customer, you'll combine the scores for segmentation.

4. Define rfm_level function that tags customers by using RFM_Scrores and Create a new variable RFM_Level

5. Calculate average values for each RFM_Level, and return a size of each segment

## Plot RFM Segments

1. Create your plot and resize it.

Using customer segmentation categories found [here](http://www.blastam.com/blog/rfm-analysis-boosts-sales) we can formulate different marketing strategies and approaches for customer engagement for each type of customer.

Note: The author in the article scores 1 as the highest and 4 as the lowest

2. How many customers do we have in each segment?

# 3. Applying K-Means Clustering

Now that we have our customers segmented into 6 different categories, we can gain further insight into customer behavior by using predictive models in conjuction with out RFM model.
Possible algorithms include **Logistic Regression**, **K-means Clustering**, and **K-nearest Neighbor**. We will go with [K-Means](https://towardsdatascience.com/understanding-k-means-clustering-in-machine-learning-6a6e67336aa1) since we already have our distinct groups determined. K-means has also been widely used for market segmentation and has the advantage of being simple to implement.

## Data Pre-Processing and Exploring

### i. Define and Plot Feature Correlations

Create Heatmap and evaluate the results

### ii. Visualize Feature Distributions

To get a better understanding of the dataset, you can costruct a scatter matrix of each of the three features in the RFM data.

### iii. Data Normalization

1. You can use the logarithm method to normalize the values in a column.

2. Plot normalized data with scatter matrix or pairplot. Also evaluate results.

## K-Means Implementation

For k-means, you have to set k to the number of clusters you want, but figuring out how many clusters is not obvious from the beginning. We will try different cluster numbers and check their [silhouette coefficient](http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_silhouette_analysis.html). The silhouette coefficient for a data point measures how similar it is to its assigned cluster from -1 (dissimilar) to 1 (similar). 
<br>
<br>
**Note**: K-means is sensitive to initializations because they are critical to qualifty of optima found. Thus, we will use smart initialization called "Elbow Method".

### i. Define the Optimal Number of Clusters

[The Elbow Method](https://en.wikipedia.org/wiki/Elbow_method_(clustering)

[Silhouette Coefficient](http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_silhouette_analysis.html)

### ii. Model Fitting

Fit the K-Means Algorithm with the optimal number of clusters you decided and save the model to disk.

### iii. Visualize the Clusters

1. Create a scatter plot and select cluster centers

2. Visualize Cluster Id vs Recency, Cluster Id vs Frequency and Cluster Id vs Monetary using Box plot. Also evaluate the results.

### iv. Assign the Label

**Conclusion**

- Cluster 0 : The first cluster belongs to the "Best Customers" segment which we saw earlier as they purchase recently (R=4), frequent buyers (F=4), and spent the most (M=4)

- Cluster 1 : Second cluster can be interpreted as passer customers as their last purchase is long ago (R<=1),purchased very few (F>=2 & F < 4) and spent little (M>=4 & M < 4).Company has to come up with new strategies to make them permanent members. Low value customers
- Cluster 2 : The third cluster is more related to the "Almost Lost" segment as they Haven’t purchased for some time(R=1), but used to purchase frequently and spent a lot.

### v. Conclusion

Discuss your final results. Compare your own labels from the Customer Segmentation with the labels found by K-Means.

How we want to continue this analysis depends on how the business plans to use the results and the level of granularity the business stakeholders want to see in the clusters. We can also ask what range of customer behavior from high to low value customers are the stakeholders interested in exploring. From those answers, various methods of clustering can be used and applied on RFM variable or directly on the transaction data set.

**Annotation:**

Limitations of K-means clustering:

1. There is no assurance that it will lead to the global best solution.
2. Can't deal with different shapes(not circular) and consider one point's probability of belonging to more than one cluster.

These disadvantages of K-means show that for many datasets (especially low-dimensional datasets), it may not perform as well as you might hope.

# 5. Create Cohort & Conduct Cohort Analysis
[Cohort Analysis](https://medium.com/swlh/cohort-analysis-using-python-and-pandas-d2a60f4d0a4d) is specifically useful in analyzing user growth patterns for products. In terms of a product, a cohort can be a group of people with the same sign-up date, the same usage starts month/date, or the same traffic source.
Cohort analysis is an analytics method by which these groups can be tracked over time for finding key insights. This analysis can further be used to do customer segmentation and track metrics like retention, churn, and lifetime value.

For e-commerce organizations, cohort analysis is a unique opportunity to find out which clients are the most valuable to their business. by performing Cohort analysis you can get the following answers to the following questions:

- How much effective was a marketing campaign held in a particular time period?
- Did the strategy employ to improve the conversion rates of Customers worked?
- Should I focus more on retention rather than acquiring new customers?
- Are my customer nurturing strategies effective?
- Which marketing channels bring me the best results?
- Is there a seasonality pattern in Customer behavior?
- Along with various performance measures/metrics for your organization.

Since we will be performing Cohort Analysis based on transaction records of customers, the columns we will be dealing with mainly:
- Invoice Data
- CustomerID
- Price
- Quantity

The following steps will performed to generate the Cohort Chart of Retention Rate:
- Month Extraction from InvioceDate column
- Assigning Cohort to Each Transaction
- Assigning Cohort Index to each transaction
- Calculating number of unique customers in each Group of (ChortDate,Index)
- Creating Cohort Table for Retention Rate
- Creating the Cohort Chart using the Cohort Table

The Detailed information about each step is given below:

## Future Engineering

### i. Extract the Month of the Purchase
First we will create a function, which takes any date and returns the formatted date with day value as 1st of the same month and Year.

Now we will use the function created above to convert all the invoice dates into respective month date format.

### ii. Calculating time offset in Months i.e. Cohort Index:
Calculating time offset for each transaction will allows us to report the metrics for each cohort in a comparable fashion.
First, you will create 4 variables that capture the integer value of years, months for Invoice and Cohort Date using the get_date_int() function which you'll create it below.

You will use this function to extract the integer values for Invoice as well as Cohort Date in 3 seperate series for each of the two columns

Use the variables created above to calcualte the difference in days and store them in cohort Index column.

## Create 1st Cohort: User number & Retention Rate

### i. Pivot Cohort and Cohort Retention

### ii. Visualize analysis of cohort 1 using seaborn and matplotlib modules

## Create the 2nd Cohort: Average Quantity Sold

### i. Pivot Cohort and Cohort Retention

### ii. Visualize analysis of cohort 2 using seaborn and matplotlib modules

## Create the 3rd Cohort: Average Sales

### i. Pivot Cohort and Cohort Retention

### ii. Visualize analysis of cohort 3 using seaborn and matplotlib modules

For e-commerce organisations, cohort analysis is a unique opportunity to find out which clients are the most valuable to their business. by performing Cohort analysis you can get answers to following questions:

- How much effective was a marketing campaign held in a particular time period?
- Did the strategy employed to improve the conversion rates of Customers worked?
- Should I focus more on retention rather than acquiring new customers?
- Are my customer nurturing strategies effective?
- Which marketing channels bring me the best results?
- Is there a seasoanlity pattern in Customer behahiour?

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___